<section class="flex justify-center content-center items-center w-full h-full">
  <div class="flex flex-col w-2/5 items-center content-center gap-8">
    <img src="assets/password-changed.svg" alt="password-changed" />
    <h1 class="text-5xl font-bold">¡Contraseña cambiada!</h1>
    <h4 class="font-light text-lg">
      ¡Has completado exitosamente el restablecimiento de tu contraseña!
    </h4>
    <button
      onclick="window.location.href='/login'"
      type="submit"
      class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      Ingresar
    </button>
  </div>
</section>
