<div class="h-full w-16 shadow-xl border bg-slate-100">
  <div class="p-2 mb-4"><img src="assets/logomain.svg" alt="" /></div>
  <div class="w-full flex flex-col p-4 h-4/5 gap-7">
    <a routerLink="/home"
      ><mat-icon
        class="scale-150"
        fontSet="material-icons-outlined"
        [ngStyle]="activeStates.home ? { color: 'blue' } : { color: 'gray' }"
      >
        home</mat-icon
      ></a
    >
    <a routerLink="/calendar"
      ><mat-icon
        fontSet="material-icons-outlined"
        [ngStyle]="
          activeStates.calendar ? { color: 'blue' } : { color: 'gray' }
        "
        class="scale-150"
      >
        calendar_today</mat-icon
      ></a
    >
    <a routerLink="/contacts"
      ><mat-icon
        fontSet="material-icons-outlined"
        [ngStyle]="
          activeStates.contacts ? { color: 'blue' } : { color: 'gray' }
        "
        class="scale-150"
      >
        person</mat-icon
      ></a
    >
    <a routerLink="/accounts"
      ><mat-icon
        fontSet="material-icons-outlined"
        [ngStyle]="
          activeStates.accounts ? { color: 'blue' } : { color: 'gray' }
        "
        class="scale-150"
      >
        assignment_ind</mat-icon
      ></a
    >
    <a routerLink="/contracts"
      ><mat-icon
        fontSet="material-icons-outlined"
        [ngStyle]="
          activeStates.contracts ? { color: 'blue' } : { color: 'gray' }
        "
        class="scale-150"
      >
        description</mat-icon
      ></a
    >
    <a routerLink="/board"
      ><mat-icon
        fontSet="material-icons-outlined"
        [ngStyle]="activeStates.board ? { color: 'blue' } : { color: 'gray' }"
        class="scale-150"
      >
        dashboard</mat-icon
      ></a
    >
  </div>
  <div class="p-4">
    <a routerLink="/login"
      ><mat-icon
        fontSet="material-icons-outlined"
        [style]="{ color: 'gray' }"
        class="scale-150"
      >
        account_circle</mat-icon
      ></a
    >
  </div>
</div>
