<section class="h-fit flex flex-col items-center py-5 px-10 gap-3 bg-white">
  <h1 class="text-3xl">Nuevo Rol</h1>
  <div class="flex flex-col w-[45vh] mb-2">
    <form class="flex flex-col">
      <label class="text-sm font-medium text-gray-400">Nombre del rol</label>
      <input
        class="p-2 border-2 border-gray-300 rounded text-sm"
        type="text"
        placeholder="Ingrese el nombre del rol"
      />
    </form>
  </div>
  <div class="flex flex-col w-[45vh]">
    <h2 class="text-sm font-medium text-gray-400">
      Seleccione las pestañas del nuevo rol
    </h2>
    <div class="border-2 w-[45vh] border-gray-300 rounded">
      <table class="w-full">
        <tr class="border-gray-300">
          <td class="p-3 flex flex-row items-center align-middle">
            <label class="w-fit cursor-pointer">
              <input type="checkbox" value="" class="sr-only peer" />
              <div
                class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
              ></div>
            </label>
          </td>
          <td class="border-l-2 border-gray-300 p-3">DEV Dashboard</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="flex gap-2 justify-end w-full">
    <button
      class="bg-gray-200 p-2 rounded font-extralight"
      (click)="closeDialog()"
    >
      Cancelar
    </button>
    <button
      class="bg-blue-500 text-white p-2 rounded font-extralight"
      (click)="closeDialog()"
    >
      Guardar
    </button>
  </div>
</section>
