<div
  class="flex flex-row items-center justify-evenly px-6 py-8 mx-auto lg:py-0 h-full w-full"
>
  <div
    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-xl xl:p-0 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Falta poco 🚀
      </h1>
      <h3 class="text-l leading-tight tracking-tight text-gray-400">
        Completa estos datos para completar el registro
      </h3>
      <form class="space-y-4 md:space-y-6" action="#">
        <div class="grid grid-cols-2 gap-6">
          <div
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-icon
              fontSet="material-icons-outlined"
              class="mr-2"
              [style]="{ color: 'gray' }"
            >
              info</mat-icon
            >
            <input
              type="text"
              [(ngModel)]="name"
              name="name"
              id="name"
              placeholder="Ingrese su nombre"
              required=""
              class="w-44 bg-gray-50 border-none outline-none"
            />
          </div>
          <div
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-icon
              class="mr-2"
              fontSet="material-icons-outlined"
              [style]="{ color: 'gray' }"
            >
              info</mat-icon
            >
            <input
              type="text"
              [(ngModel)]="lastname"
              name="lastname"
              id="lastname"
              placeholder="Ingrese su apellido"
              required=""
              class="w-44 bg-gray-50 border-none outline-none"
            />
          </div>
          <div
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-icon
              class="mr-2"
              fontSet="material-icons-outlined"
              [style]="{ color: 'gray' }"
              >person</mat-icon
            >
            <input
              type="text"
              [(ngModel)]="ci"
              name="Ci"
              id="CI"
              placeholder="Ingrese su #CI"
              required=""
              class="w-44 bg-gray-50 border-none outline-none"
            />
          </div>
          <div
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-icon
              class="mr-2"
              fontSet="material-icons-outlined"
              [style]="{ color: 'gray' }"
              >category</mat-icon
            >
            <select
              class="w-44 bg-gray-50 border-none outline-none text-gray-400"
              id="comboBox"
              [(ngModel)]="selectedOption"
              name="department"
            >
              <option value="" disabled selected>Seleccione su depto.</option>
              <option *ngFor="let option of options" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
        </div>
        <button
          type="submit"
          (click)="register()"
          onclick="window.location.href='/login'"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Completar registro
        </button>
        <p
          class="text-sm font-light text-gray-500 dark:text-gray-400 text-center"
        >
          ¿Ya tiene una cuenta?
          <a
            href="/login"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Iniciar sesion</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
