<div
  class="flex flex-row items-center justify-evenly px-6 py-8 mx-auto lg:py-0 h-full"
>
  <div>
    <!--
    <svg
    height="500"
    width="500"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; top: 240px"
    >
    <circle r="150" cx="150" cy="150" fill="blue" />
  </svg>-->
    <img src="assets/isotipo.webp" alt="" class="h-full" />
  </div>
  <app-register-step2
    *ngIf="visible"
    [username]="username"
    [email]="email"
    [password]="password"
  ></app-register-step2>
  <div
    [ngClass]="{'invisible hidden': condition1=== false, 'visible' : condition1 === true, }"
    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-lg xl:p-0 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Empecemos 🚀
      </h1>
      <h3 class="text-l leading-tight tracking-tight text-gray-400">
        Completa los datos para registrarte
      </h3>
      <form
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4 md:space-y-6 group"
        novalidate
      >
        <div
          class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <mat-icon
            class="mr-2"
            fontSet="material-icons-outlined"
            [style]="{ color: 'gray' }"
          >
            person</mat-icon
          >
          <input
            type="text"
            id="username"
            placeholder="Ingrese su nombre de usuario"
            class="w-full bg-gray-50 placeholder-slate-400 focus:outline-none"
            required
            pattern=".{7,}"
            formControlName="username"
            #usernameInput
            (focusout)="onUsernameInput()"
          />
        </div>
        <span
          [ngClass]="{'invisible hidden': condition2=== false, 'visible' : condition2 === true, }"
          class="text-sm"
        >
          nombre de usuario ya existente
        </span>
        <div
          class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <mat-icon
            fontSet="material-icons-outlined"
            class="mr-2"
            [style]="{ color: 'gray' }"
          >
            email</mat-icon
          >
          <input
            type="email"
            id="email"
            placeholder="Ingrese su correo electronico"
            class="w-96 bg-gray-50 border-none outline-none"
            required
            pattern=".{7,}"
            formControlName="email"
            #emailInput
            (focusout)="onEmailInput()"
          />
        </div>
        <span
          [ngClass]="{'invisible hidden': condition3=== false, 'visible' : condition3 === true, }"
          class="text-sm"
        >
          correo ya registrado
        </span>
        <div
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 flex w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <mat-icon
            class="mr-2"
            fontSet="material-icons-outlined"
            [style]="{ color: 'gray' }"
            >lock</mat-icon
          >
          <input
            type="password"
            id="password"
            placeholder="Ingrese su contraseña"
            required="true"
            class="w-96 bg-gray-50 border-none outline-none"
          />
          <mat-icon
            class="ml-2"
            fontSet="material-icons-outlined"
            [style]="{ color: 'gray' }"
            >remove_red_eye</mat-icon
          >
        </div>
        <button
          type="submit"
          (click)="showhideUtility(); setValue()"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 group-invalid:pointer-events-none group-invalid:opacity-30"
        >
          Continuar
        </button>
        <p
          class="text-sm font-light text-gray-500 dark:text-gray-400 text-center"
        >
          ¿Ya tiene una cuenta?
          <a
            href="/login"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Iniciar sesion</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
